* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

      font-family: "Geist Pixel", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
            "ELSH" 0;
    /* font-family: ; */

    /* CSS HEX */
    --ink-black: #03071eff;
    --night-bordeaux: #370617ff;
    --black-cherry: #6a040fff;
    --oxblood: #9d0208ff;
    --brick-ember: #d00000ff;
    --red-ochre: #dc2f02ff;
    --cayenne-red: #e85d04ff;
    --deep-saffron: #f48c06ff;
    --orange: #faa307ff;
    --amber-flame: #ffba08ff;
}

body{
    background-color: var(--ink-black);
    color: var(--deep-saffron);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1{
    width: 100vw;
    background-color: var(--night-bordeaux);
    /* height: 70px; */
    text-align: center;
    padding: 20px;
}

#tela-placar{
    background-color: var(--black-cherry);
    width: 90%;
    height: 70vh;
    margin: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 20px;
    box-shadow: 0 0 10px var(--red-ochre);
}

#placar-esq, #placar-dir{
    background-color: var(--brick-ember);
    height: 80%;
    width: 30%;
    color: var(--ink-black);
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 240px;

    border-radius: 20px;
    box-shadow: 0 0 10px var(--amber-flame);
}

#x{
    font-size: 300px;
}

#cronometro{
    font-size: 80px;
}

#placar-meio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icone-placar{
    width: 50px;
    /* height: 50px; */
}

/* .bt-placar{
    width: 90%;
    border: none;
    border-radius: 10px;
    background-color: var(--cayenne-red);
    box-shadow: 0 0 5px var(--amber-flame);
} */
.bt-placar{
    width: 90%;
    border: none;
    border-radius: 10px;
    background-color: var(--brick-ember);
}
.bt-placar:hover{
    box-shadow: 0 0 25px var(--amber-flame);
    box-shadow: 0 0 25px var(--night-bordeaux);
    
}

#icone-reset{
    width: 50px;
}

#bt-reset{
    width: 90%;
    border: none;
    border-radius: 10px;
    background-color: var(--brick-ember);
    
}

